# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# Data files (raw data lớn không nên đẩy lên git)
data/raw/*
data/processed/*
!data/**/.gitkeep

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db